In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
# Load in scraped fighter data
career_stats = pd.read_csv("../data/career_fighter_stats.csv")
career_stats

,Unnamed: 0,name,ufc_record,nickname,height,reach,weight,stance,DOB,SLpM,SApM,Str_Acc_pct,Str_Def_pct,TD_Avg,TD_Acc_pct,TD_Def_pct,Sub_Avg
0,0,Bryan Battle,5-1-0,POOH BEAR,"6' 2""",--,185,NaN,"Sep 21, 1994",0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
1,3,Brady Hiestand,4-1-0,BAM BAM,"5' 8""",--,135,NaN,"Apr 30, 1999",0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
2,0,Jonas Bilharinho,8-1-1,SHIVA,"5' 11""",--,145,NaN,"May 22, 1990",0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
3,1,Kolton Englund,9-3-0,THE WHITE ASSASSIN,"5' 8""",--,155,NaN,"Jul 09, 1992",0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
4,2,Abus Magomedov,24-4-1,NaN,"6' 2""",--,185,NaN,"Sep 02, 1990",0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3699,3697,Dave Zitanick,5-7-0 (1 NC),NaN,--,--,170,NaN,"Mar 05, 1980",0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
3700,3698,Alex Zuniga,6-3-0,NaN,--,--,145,NaN,--,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
3701,3699,George Zuniga,3-1-0,NaN,"5' 9""",--,185,NaN,--,7.64,5.45,38.0,37.0,0.00,0.0,100.0,0.0
3702,3700,Allan Zuniga,13-1-0,TIGRE,"5' 7""","70""",155,Orthodox,"Apr 04, 1992",3.93,1.80,52.0,61.0,0.00,0.0,57.0,1.0
3703,3701,Virgil Zwicker,15-6-1,REZDOG,"6' 2""","74""",205,NaN,"Jun 26, 1982",3.34,4.87,48.0,39.0,1.31,30.0,50.0,0.0

In [3]:
# Dropping unused columns
career_stats = career_stats.drop(columns=["nickname", "Unnamed: 0"])
career_stats

,name,ufc_record,height,reach,weight,stance,DOB,SLpM,SApM,Str_Acc_pct,Str_Def_pct,TD_Avg,TD_Acc_pct,TD_Def_pct,Sub_Avg
0,Bryan Battle,5-1-0,"6' 2""",--,185,NaN,"Sep 21, 1994",0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
1,Brady Hiestand,4-1-0,"5' 8""",--,135,NaN,"Apr 30, 1999",0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
2,Jonas Bilharinho,8-1-1,"5' 11""",--,145,NaN,"May 22, 1990",0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
3,Kolton Englund,9-3-0,"5' 8""",--,155,NaN,"Jul 09, 1992",0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
4,Abus Magomedov,24-4-1,"6' 2""",--,185,NaN,"Sep 02, 1990",0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3699,Dave Zitanick,5-7-0 (1 NC),--,--,170,NaN,"Mar 05, 1980",0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
3700,Alex Zuniga,6-3-0,--,--,145,NaN,--,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
3701,George Zuniga,3-1-0,"5' 9""",--,185,NaN,--,7.64,5.45,38.0,37.0,0.00,0.0,100.0,0.0
3702,Allan Zuniga,13-1-0,"5' 7""","70""",155,Orthodox,"Apr 04, 1992",3.93,1.80,52.0,61.0,0.00,0.0,57.0,1.0
3703,Virgil Zwicker,15-6-1,"6' 2""","74""",205,NaN,"Jun 26, 1982",3.34,4.87,48.0,39.0,1.31,30.0,50.0,0.0

In [4]:
fighter_info = career_stats[["name", "DOB", "ufc_record", "height", "weight", "reach", "stance"]]
fighter_info

,name,DOB,ufc_record,height,weight,reach,stance
0,Bryan Battle,"Sep 21, 1994",5-1-0,"6' 2""",185,--,NaN
1,Brady Hiestand,"Apr 30, 1999",4-1-0,"5' 8""",135,--,NaN
2,Jonas Bilharinho,"May 22, 1990",8-1-1,"5' 11""",145,--,NaN
3,Kolton Englund,"Jul 09, 1992",9-3-0,"5' 8""",155,--,NaN
4,Abus Magomedov,"Sep 02, 1990",24-4-1,"6' 2""",185,--,NaN
...,...,...,...,...,...,...,...
3699,Dave Zitanick,"Mar 05, 1980",5-7-0 (1 NC),--,170,--,NaN
3700,Alex Zuniga,--,6-3-0,--,145,--,NaN
3701,George Zuniga,--,3-1-0,"5' 9""",185,--,NaN
3702,Allan Zuniga,"Apr 04, 1992",13-1-0,"5' 7""",155,"70""",Orthodox
3703,Virgil Zwicker,"Jun 26, 1982",15-6-1,"6' 2""",205,"74""",NaN

In [5]:
no_height = fighter_info[fighter_info["height"].str.contains("-")]
no_height

,name,DOB,ufc_record,height,weight,reach,stance
7,Zhang Minyang,--,0-0-0,--,--,--,NaN
8,Tom Aaron,"Jul 13, 1978",5-3-0,--,155,--,NaN
43,Brett Albee,--,3-2-0,--,225,--,NaN
48,Israel Albuquerque,--,0-3-0,--,185,--,Orthodox
49,Juan Alcain,--,1-2-0,--,--,--,NaN
...,...,...,...,...,...,...,...
3662,Artenus Young,"Jul 16, 1980",10-12-0,--,205,--,NaN
3675,Joao Zaiden,"Mar 16, 1993",10-3-0,--,205,--,NaN
3694,Mike Zichelle,--,8-4-0,--,205,--,NaN
3699,Dave Zitanick,"Mar 05, 1980",5-7-0 (1 NC),--,170,--,NaN
3700,Alex Zuniga,--,6-3-0,--,145,--,NaN

In [6]:
# Removing fighters that have no height listed
fighter_info = fighter_info[~fighter_info["height"].str.contains("-")]
fighter_info

,name,DOB,ufc_record,height,weight,reach,stance
0,Bryan Battle,"Sep 21, 1994",5-1-0,"6' 2""",185,--,NaN
1,Brady Hiestand,"Apr 30, 1999",4-1-0,"5' 8""",135,--,NaN
2,Jonas Bilharinho,"May 22, 1990",8-1-1,"5' 11""",145,--,NaN
3,Kolton Englund,"Jul 09, 1992",9-3-0,"5' 8""",155,--,NaN
4,Abus Magomedov,"Sep 02, 1990",24-4-1,"6' 2""",185,--,NaN
...,...,...,...,...,...,...,...
3697,Cat Zingano,"Jul 01, 1982",10-4-0,"5' 6""",145,"68""",Southpaw
3698,Igor Zinoviev,--,4-1-2,"6' 1""",199,--,Orthodox
3701,George Zuniga,--,3-1-0,"5' 9""",185,--,NaN
3702,Allan Zuniga,"Apr 04, 1992",13-1-0,"5' 7""",155,"70""",Orthodox
3703,Virgil Zwicker,"Jun 26, 1982",15-6-1,"6' 2""",205,"74""",NaN

In [7]:
# Splitting feet and inches into seperate columns
fighter_info[["height_feet", "height_inches"]] = fighter_info.height.str.split("'", expand=True)
fighter_info

C:\Users\audri\anaconda3\envs\PythonAdv\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,name,DOB,ufc_record,height,weight,reach,stance,height_feet,height_inches
0,Bryan Battle,"Sep 21, 1994",5-1-0,"6' 2""",185,--,NaN,6,"2"""
1,Brady Hiestand,"Apr 30, 1999",4-1-0,"5' 8""",135,--,NaN,5,"8"""
2,Jonas Bilharinho,"May 22, 1990",8-1-1,"5' 11""",145,--,NaN,5,"11"""
3,Kolton Englund,"Jul 09, 1992",9-3-0,"5' 8""",155,--,NaN,5,"8"""
4,Abus Magomedov,"Sep 02, 1990",24-4-1,"6' 2""",185,--,NaN,6,"2"""
...,...,...,...,...,...,...,...,...,...
3697,Cat Zingano,"Jul 01, 1982",10-4-0,"5' 6""",145,"68""",Southpaw,5,"6"""
3698,Igor Zinoviev,--,4-1-2,"6' 1""",199,--,Orthodox,6,"1"""
3701,George Zuniga,--,3-1-0,"5' 9""",185,--,NaN,5,"9"""
3702,Allan Zuniga,"Apr 04, 1992",13-1-0,"5' 7""",155,"70""",Orthodox,5,"7"""
3703,Virgil Zwicker,"Jun 26, 1982",15-6-1,"6' 2""",205,"74""",NaN,6,"2"""

In [8]:
# Stripping " from inches and converting height to int
fighter_info["height_inches"] = fighter_info["height_inches"].str.strip('"')
fighter_info["height_feet"] = fighter_info["height_feet"].astype(int)
fighter_info["height_inches"] = fighter_info["height_inches"].astype(int)
fighter_info

C:\Users\audri\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\audri\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\audri\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,name,DOB,ufc_record,height,weight,reach,stance,height_feet,height_inches
0,Bryan Battle,"Sep 21, 1994",5-1-0,"6' 2""",185,--,NaN,6,2
1,Brady Hiestand,"Apr 30, 1999",4-1-0,"5' 8""",135,--,NaN,5,8
2,Jonas Bilharinho,"May 22, 1990",8-1-1,"5' 11""",145,--,NaN,5,11
3,Kolton Englund,"Jul 09, 1992",9-3-0,"5' 8""",155,--,NaN,5,8
4,Abus Magomedov,"Sep 02, 1990",24-4-1,"6' 2""",185,--,NaN,6,2
...,...,...,...,...,...,...,...,...,...
3697,Cat Zingano,"Jul 01, 1982",10-4-0,"5' 6""",145,"68""",Southpaw,5,6
3698,Igor Zinoviev,--,4-1-2,"6' 1""",199,--,Orthodox,6,1
3701,George Zuniga,--,3-1-0,"5' 9""",185,--,NaN,5,9
3702,Allan Zuniga,"Apr 04, 1992",13-1-0,"5' 7""",155,"70""",Orthodox,5,7
3703,Virgil Zwicker,"Jun 26, 1982",15-6-1,"6' 2""",205,"74""",NaN,6,2

In [9]:
# Calculating total height from feet and inches columns
fighter_info["height_in"] = (fighter_info["height_feet"] * 12) + fighter_info["height_inches"]
fighter_info

C:\Users\audri\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,name,DOB,ufc_record,height,weight,reach,stance,height_feet,height_inches,height_in
0,Bryan Battle,"Sep 21, 1994",5-1-0,"6' 2""",185,--,NaN,6,2,74
1,Brady Hiestand,"Apr 30, 1999",4-1-0,"5' 8""",135,--,NaN,5,8,68
2,Jonas Bilharinho,"May 22, 1990",8-1-1,"5' 11""",145,--,NaN,5,11,71
3,Kolton Englund,"Jul 09, 1992",9-3-0,"5' 8""",155,--,NaN,5,8,68
4,Abus Magomedov,"Sep 02, 1990",24-4-1,"6' 2""",185,--,NaN,6,2,74
...,...,...,...,...,...,...,...,...,...,...
3697,Cat Zingano,"Jul 01, 1982",10-4-0,"5' 6""",145,"68""",Southpaw,5,6,66
3698,Igor Zinoviev,--,4-1-2,"6' 1""",199,--,Orthodox,6,1,73
3701,George Zuniga,--,3-1-0,"5' 9""",185,--,NaN,5,9,69
3702,Allan Zuniga,"Apr 04, 1992",13-1-0,"5' 7""",155,"70""",Orthodox,5,7,67
3703,Virgil Zwicker,"Jun 26, 1982",15-6-1,"6' 2""",205,"74""",NaN,6,2,74

In [10]:
# dropping old height columns
fighter_info = fighter_info.drop(columns=["height", "height_feet", "height_inches"])
fighter_info

,name,DOB,ufc_record,weight,reach,stance,height_in
0,Bryan Battle,"Sep 21, 1994",5-1-0,185,--,NaN,74
1,Brady Hiestand,"Apr 30, 1999",4-1-0,135,--,NaN,68
2,Jonas Bilharinho,"May 22, 1990",8-1-1,145,--,NaN,71
3,Kolton Englund,"Jul 09, 1992",9-3-0,155,--,NaN,68
4,Abus Magomedov,"Sep 02, 1990",24-4-1,185,--,NaN,74
...,...,...,...,...,...,...,...
3697,Cat Zingano,"Jul 01, 1982",10-4-0,145,"68""",Southpaw,66
3698,Igor Zinoviev,--,4-1-2,199,--,Orthodox,73
3701,George Zuniga,--,3-1-0,185,--,NaN,69
3702,Allan Zuniga,"Apr 04, 1992",13-1-0,155,"70""",Orthodox,67
3703,Virgil Zwicker,"Jun 26, 1982",15-6-1,205,"74""",NaN,74

In [11]:
# Stripping " from reach
fighter_info["reach"] = fighter_info["reach"].str.strip('"')
fighter_info

,name,DOB,ufc_record,weight,reach,stance,height_in
0,Bryan Battle,"Sep 21, 1994",5-1-0,185,--,NaN,74
1,Brady Hiestand,"Apr 30, 1999",4-1-0,135,--,NaN,68
2,Jonas Bilharinho,"May 22, 1990",8-1-1,145,--,NaN,71
3,Kolton Englund,"Jul 09, 1992",9-3-0,155,--,NaN,68
4,Abus Magomedov,"Sep 02, 1990",24-4-1,185,--,NaN,74
...,...,...,...,...,...,...,...
3697,Cat Zingano,"Jul 01, 1982",10-4-0,145,68,Southpaw,66
3698,Igor Zinoviev,--,4-1-2,199,--,Orthodox,73
3701,George Zuniga,--,3-1-0,185,--,NaN,69
3702,Allan Zuniga,"Apr 04, 1992",13-1-0,155,70,Orthodox,67
3703,Virgil Zwicker,"Jun 26, 1982",15-6-1,205,74,NaN,74

In [12]:
# splitting fighters into two seperate dataframes based on if they have reach listed...
no_reach = fighter_info[fighter_info["reach"].str.contains("-")]
no_reach

,name,DOB,ufc_record,weight,reach,stance,height_in
0,Bryan Battle,"Sep 21, 1994",5-1-0,185,--,NaN,74
1,Brady Hiestand,"Apr 30, 1999",4-1-0,135,--,NaN,68
2,Jonas Bilharinho,"May 22, 1990",8-1-1,145,--,NaN,71
3,Kolton Englund,"Jul 09, 1992",9-3-0,155,--,NaN,68
4,Abus Magomedov,"Sep 02, 1990",24-4-1,185,--,NaN,74
...,...,...,...,...,...,...,...
3690,Zhifa Shang,--,22-7-0,125,--,NaN,66
3695,James Zikic,"Mar 01, 1977",21-10-2,205,--,Orthodox,74
3696,Errol Zimmerman,"Apr 20, 1986",0-1-0,185,--,Orthodox,75
3698,Igor Zinoviev,--,4-1-2,199,--,Orthodox,73
3701,George Zuniga,--,3-1-0,185,--,NaN,69

In [13]:
# ... as a majorit of fighters have no reach listed, it was necessary to aproximate... 
reach = fighter_info[~fighter_info["reach"].str.contains("-")]
reach

,name,DOB,ufc_record,weight,reach,stance,height_in
11,Shamil Abdurakhimov,"Sep 02, 1981",20-5-0,235,76,Orthodox,75
13,Daichi Abe,"Nov 27, 1991",6-2-0,170,71,Orthodox,71
16,Klidson Abreu,"Dec 24, 1992",15-4-0 (1 NC),205,74,Orthodox,72
19,Juan Adams,"Jan 16, 1992",5-3-0,265,80,Orthodox,77
20,Anthony Adams,"Jan 13, 1988",8-2-0,185,76,Orthodox,73
...,...,...,...,...,...,...,...
3692,Zhalgas Zhumagulov,"Aug 29, 1988",14-5-0,125,66,Switch,64
3693,Fares Ziam,"Mar 21, 1997",12-3-0,155,75,Orthodox,73
3697,Cat Zingano,"Jul 01, 1982",10-4-0,145,68,Southpaw,66
3702,Allan Zuniga,"Apr 04, 1992",13-1-0,155,70,Orthodox,67
3703,Virgil Zwicker,"Jun 26, 1982",15-6-1,205,74,NaN,74

In [14]:
# ... by using height as a proxy for reach  
no_reach["reach"] = no_reach["height_in"]
no_reach

C:\Users\audri\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,name,DOB,ufc_record,weight,reach,stance,height_in
0,Bryan Battle,"Sep 21, 1994",5-1-0,185,74,NaN,74
1,Brady Hiestand,"Apr 30, 1999",4-1-0,135,68,NaN,68
2,Jonas Bilharinho,"May 22, 1990",8-1-1,145,71,NaN,71
3,Kolton Englund,"Jul 09, 1992",9-3-0,155,68,NaN,68
4,Abus Magomedov,"Sep 02, 1990",24-4-1,185,74,NaN,74
...,...,...,...,...,...,...,...
3690,Zhifa Shang,--,22-7-0,125,66,NaN,66
3695,James Zikic,"Mar 01, 1977",21-10-2,205,74,Orthodox,74
3696,Errol Zimmerman,"Apr 20, 1986",0-1-0,185,75,Orthodox,75
3698,Igor Zinoviev,--,4-1-2,199,73,Orthodox,73
3701,George Zuniga,--,3-1-0,185,69,NaN,69

In [15]:
# And then putting the dataframes back together with aproximated reach for fighters with none listed
frames = [reach, no_reach]
fighter_df = pd.concat(frames)
fighter_df

,name,DOB,ufc_record,weight,reach,stance,height_in
11,Shamil Abdurakhimov,"Sep 02, 1981",20-5-0,235,76,Orthodox,75
13,Daichi Abe,"Nov 27, 1991",6-2-0,170,71,Orthodox,71
16,Klidson Abreu,"Dec 24, 1992",15-4-0 (1 NC),205,74,Orthodox,72
19,Juan Adams,"Jan 16, 1992",5-3-0,265,80,Orthodox,77
20,Anthony Adams,"Jan 13, 1988",8-2-0,185,76,Orthodox,73
...,...,...,...,...,...,...,...
3690,Zhifa Shang,--,22-7-0,125,66,NaN,66
3695,James Zikic,"Mar 01, 1977",21-10-2,205,74,Orthodox,74
3696,Errol Zimmerman,"Apr 20, 1986",0-1-0,185,75,Orthodox,75
3698,Igor Zinoviev,--,4-1-2,199,73,Orthodox,73
3701,George Zuniga,--,3-1-0,185,69,NaN,69

In [16]:
fighter_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3430 entries, 11 to 3701
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        3430 non-null   object
 1   DOB         3430 non-null   object
 2   ufc_record  3430 non-null   object
 3   weight      3430 non-null   object
 4   reach       3430 non-null   object
 5   stance      2784 non-null   object
 6   height_in   3430 non-null   int32
dtypes: int32(1), object(6)
memory usage: 201.0+ KB

In [17]:
# setting reach as int
fighter_df["reach"] = fighter_df["reach"].astype(int)
fighter_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3430 entries, 11 to 3701
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        3430 non-null   object
 1   DOB         3430 non-null   object
 2   ufc_record  3430 non-null   object
 3   weight      3430 non-null   object
 4   reach       3430 non-null   int32
 5   stance      2784 non-null   object
 6   height_in   3430 non-null   int32
dtypes: int32(2), object(5)
memory usage: 187.6+ KB

In [18]:
fighter_df["stance"].value_counts()

 Orthodox       2155
 Southpaw        492
 Switch          127
 Open Stance       7
 Sideways          3
Name: stance, dtype: int64

In [19]:
fighter_df["stance"] = fighter_df["stance"].astype(str)

In [20]:
# Seeing as the vast majority of fighters are orthadox, assume that nan values are orthadox...
fighter_df["stance"] = fighter_df["stance"].replace({"nan" : "Orthodox"})
fighter_df["stance"] = fighter_df["stance"].replace({" Orthodox" : "Orthodox"})
fighter_df["stance"] = fighter_df["stance"].replace({" Southpaw" : "Southpaw"})
fighter_df["stance"] = fighter_df["stance"].replace({" Switch" : "Switch"})
fighter_df["stance"] = fighter_df["stance"].replace({" Open Stance" : "Switch"}) # With open as switch
fighter_df["stance"] = fighter_df["stance"].replace({" Sideways" : "Switch"}) # and same with sideways
fighter_df["stance"].value_counts()

Orthodox    2801
Southpaw     492
Switch       137
Name: stance, dtype: int64

In [21]:
fighter_df["weight"].value_counts()

170    539
155    494
185    431
145    384
135    350
      ...
286      1
315      1
198      1
254      1
259      1
Name: weight, Length: 111, dtype: int64

In [22]:
fighter_df["weight"].isna().sum()

0

In [23]:
fighter_df

,name,DOB,ufc_record,weight,reach,stance,height_in
11,Shamil Abdurakhimov,"Sep 02, 1981",20-5-0,235,76,Orthodox,75
13,Daichi Abe,"Nov 27, 1991",6-2-0,170,71,Orthodox,71
16,Klidson Abreu,"Dec 24, 1992",15-4-0 (1 NC),205,74,Orthodox,72
19,Juan Adams,"Jan 16, 1992",5-3-0,265,80,Orthodox,77
20,Anthony Adams,"Jan 13, 1988",8-2-0,185,76,Orthodox,73
...,...,...,...,...,...,...,...
3690,Zhifa Shang,--,22-7-0,125,66,Orthodox,66
3695,James Zikic,"Mar 01, 1977",21-10-2,205,74,Orthodox,74
3696,Errol Zimmerman,"Apr 20, 1986",0-1-0,185,75,Orthodox,75
3698,Igor Zinoviev,--,4-1-2,199,73,Orthodox,73
3701,George Zuniga,--,3-1-0,185,69,Orthodox,69

In [24]:
# fighters with no date of birth makes it impossible to calculate age at time of fight later on...
no_dob = fighter_df[fighter_df["DOB"].str.contains("-")]
no_dob

                  name  DOB      ufc_record weight  reach    stance  height_in
902         Per Eklund   --          14-5-1    155     72  Orthodox         70
1873      Jess Liaudin   --         20-11-0    170     72  Orthodox         69
3529    Curt Warburton   --          13-6-0    155     73  Orthodox         72
10        David Abbott   --         10-15-0    265     72    Switch         72
12        Hiroyuki Abe   --   8-15-3 (1 NC)    145     66  Orthodox         66
...                ...  ...             ...    ...    ...       ...        ...
3683  Daniel Zellhuber   --          10-0-0    155     73  Orthodox         73
3686   Carlos Zevallos   --           3-4-0    205     72  Orthodox         72
3690       Zhifa Shang   --          22-7-0    125     66  Orthodox         66
3698     Igor Zinoviev   --           4-1-2    199     73  Orthodox         73
3701     George Zuniga   --           3-1-0    185     69  Orthodox         69

[547 rows x 7 columns]

In [25]:
# ... so fighters with no DOB are dropped
clean_fighter_df = fighter_df[~fighter_df["DOB"].str.contains("-")]

In [26]:
# Saving the clean dataframe
clean_fighter_df.to_csv("../data/clean_fighter_info.csv")
clean_fighter_df

,name,DOB,ufc_record,weight,reach,stance,height_in
11,Shamil Abdurakhimov,"Sep 02, 1981",20-5-0,235,76,Orthodox,75
13,Daichi Abe,"Nov 27, 1991",6-2-0,170,71,Orthodox,71
16,Klidson Abreu,"Dec 24, 1992",15-4-0 (1 NC),205,74,Orthodox,72
19,Juan Adams,"Jan 16, 1992",5-3-0,265,80,Orthodox,77
20,Anthony Adams,"Jan 13, 1988",8-2-0,185,76,Orthodox,73
...,...,...,...,...,...,...,...
3682,Joao Zeferino,"Jan 15, 1986",21-9-0,170,71,Orthodox,71
3684,Craig Zellner,"Sep 09, 1976",4-3-0,205,74,Orthodox,74
3685,Roman Zentsov,"Sep 10, 1973",18-12-0,230,73,Orthodox,73
3695,James Zikic,"Mar 01, 1977",21-10-2,205,74,Orthodox,74
3696,Errol Zimmerman,"Apr 20, 1986",0-1-0,185,75,Orthodox,75