In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [2]:
# Load in scraped fighter data
career_stats = pd.read_csv("../data/career_fighter_stats.csv")
career_stats = career_stats.drop(columns="Unnamed: 0")
career_stats

,name,ufc_record,nickname,height,reach,weight,stance,DOB,SLpM,SApM,Str_Acc_pct,Str_Def_pct,TD_Avg,TD_Acc_pct,TD_Def_pct,Sub_Avg
0,David Onama,8-0-0,NaN,"5' 10""",--,155,NaN,--,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
1,Viacheslav Borshchev,4-1-0,SLAVA CLAUS,"5' 11""","72""",155,Orthodox,"Jan 08, 1992",0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
2,Erick Gonzalez,14-5-0,NaN,"5' 10""",--,155,NaN,"Jan 20, 1992",0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
3,Kathryn Paprocki,3-1-0,NaN,"5' 3""",--,115,NaN,"Apr 28, 1993",0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
4,Benoit Saint-Denis,8-0-0 (1 NC),GOD OF WAR,"5' 11""",--,170,NaN,"Dec 18, 1995",0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3726,Dave Zitanick,5-7-0 (1 NC),NaN,--,--,170,NaN,"Mar 05, 1980",0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
3727,Alex Zuniga,6-3-0,NaN,--,--,145,NaN,--,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0
3728,George Zuniga,3-1-0,NaN,"5' 9""",--,185,NaN,--,7.64,5.45,38.0,37.0,0.00,0.0,100.0,0.0
3729,Allan Zuniga,13-1-0,TIGRE,"5' 7""","70""",155,Orthodox,"Apr 04, 1992",3.93,1.80,52.0,61.0,0.00,0.0,57.0,1.0
3730,Virgil Zwicker,15-6-1,REZDOG,"6' 2""","74""",205,NaN,"Jun 26, 1982",3.34,4.87,48.0,39.0,1.31,30.0,50.0,0.0

In [3]:
fighter_info = career_stats[["name", "DOB", "ufc_record", "height", "weight", "reach", "stance", "nickname"]]
fighter_info

,name,DOB,ufc_record,height,weight,reach,stance,nickname
0,David Onama,--,8-0-0,"5' 10""",155,--,NaN,NaN
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,"5' 11""",155,"72""",Orthodox,SLAVA CLAUS
2,Erick Gonzalez,"Jan 20, 1992",14-5-0,"5' 10""",155,--,NaN,NaN
3,Kathryn Paprocki,"Apr 28, 1993",3-1-0,"5' 3""",115,--,NaN,NaN
4,Benoit Saint-Denis,"Dec 18, 1995",8-0-0 (1 NC),"5' 11""",170,--,NaN,GOD OF WAR
...,...,...,...,...,...,...,...,...
3726,Dave Zitanick,"Mar 05, 1980",5-7-0 (1 NC),--,170,--,NaN,NaN
3727,Alex Zuniga,--,6-3-0,--,145,--,NaN,NaN
3728,George Zuniga,--,3-1-0,"5' 9""",185,--,NaN,NaN
3729,Allan Zuniga,"Apr 04, 1992",13-1-0,"5' 7""",155,"70""",Orthodox,TIGRE
3730,Virgil Zwicker,"Jun 26, 1982",15-6-1,"6' 2""",205,"74""",NaN,REZDOG

In [4]:
no_height = fighter_info[fighter_info["height"].str.contains("-")]
no_height

,name,DOB,ufc_record,height,weight,reach,stance,nickname
10,Olivier Murad,"Dec 21, 1993",4-0-0,--,145,--,NaN,WARRIOR OF GOD
34,Zhang Minyang,--,0-0-0,--,--,--,NaN,NaN
35,Tom Aaron,"Jul 13, 1978",5-3-0,--,155,--,NaN,NaN
70,Brett Albee,--,3-2-0,--,225,--,NaN,NaN
75,Israel Albuquerque,--,0-3-0,--,185,--,Orthodox,NaN
...,...,...,...,...,...,...,...,...
3689,Artenus Young,"Jul 16, 1980",10-12-0,--,205,--,NaN,NaN
3702,Joao Zaiden,"Mar 16, 1993",10-3-0,--,205,--,NaN,NaN
3721,Mike Zichelle,--,8-4-0,--,205,--,NaN,NaN
3726,Dave Zitanick,"Mar 05, 1980",5-7-0 (1 NC),--,170,--,NaN,NaN
3727,Alex Zuniga,--,6-3-0,--,145,--,NaN,NaN

In [5]:
# Removing fighters that have no height listed
fighter_info = fighter_info[~fighter_info["height"].str.contains("-")]
fighter_info

,name,DOB,ufc_record,height,weight,reach,stance,nickname
0,David Onama,--,8-0-0,"5' 10""",155,--,NaN,NaN
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,"5' 11""",155,"72""",Orthodox,SLAVA CLAUS
2,Erick Gonzalez,"Jan 20, 1992",14-5-0,"5' 10""",155,--,NaN,NaN
3,Kathryn Paprocki,"Apr 28, 1993",3-1-0,"5' 3""",115,--,NaN,NaN
4,Benoit Saint-Denis,"Dec 18, 1995",8-0-0 (1 NC),"5' 11""",170,--,NaN,GOD OF WAR
...,...,...,...,...,...,...,...,...
3724,Cat Zingano,"Jul 01, 1982",10-4-0,"5' 6""",145,"68""",Southpaw,ALPHA
3725,Igor Zinoviev,--,4-1-2,"6' 1""",199,--,Orthodox,HOUDINI
3728,George Zuniga,--,3-1-0,"5' 9""",185,--,NaN,NaN
3729,Allan Zuniga,"Apr 04, 1992",13-1-0,"5' 7""",155,"70""",Orthodox,TIGRE
3730,Virgil Zwicker,"Jun 26, 1982",15-6-1,"6' 2""",205,"74""",NaN,REZDOG

In [6]:
no_height["height"] = "8'5"
no_height

C:\Users\audri\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,name,DOB,ufc_record,height,weight,reach,stance,nickname
10,Olivier Murad,"Dec 21, 1993",4-0-0,8'5,145,--,NaN,WARRIOR OF GOD
34,Zhang Minyang,--,0-0-0,8'5,--,--,NaN,NaN
35,Tom Aaron,"Jul 13, 1978",5-3-0,8'5,155,--,NaN,NaN
70,Brett Albee,--,3-2-0,8'5,225,--,NaN,NaN
75,Israel Albuquerque,--,0-3-0,8'5,185,--,Orthodox,NaN
...,...,...,...,...,...,...,...,...
3689,Artenus Young,"Jul 16, 1980",10-12-0,8'5,205,--,NaN,NaN
3702,Joao Zaiden,"Mar 16, 1993",10-3-0,8'5,205,--,NaN,NaN
3721,Mike Zichelle,--,8-4-0,8'5,205,--,NaN,NaN
3726,Dave Zitanick,"Mar 05, 1980",5-7-0 (1 NC),8'5,170,--,NaN,NaN
3727,Alex Zuniga,--,6-3-0,8'5,145,--,NaN,NaN

In [7]:
# And then putting the dataframes back together with aproximated reach for fighters with none listed
height_frames = [fighter_info, no_height]
fighter_info = pd.concat(height_frames)
fighter_info

,name,DOB,ufc_record,height,weight,reach,stance,nickname
0,David Onama,--,8-0-0,"5' 10""",155,--,NaN,NaN
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,"5' 11""",155,"72""",Orthodox,SLAVA CLAUS
2,Erick Gonzalez,"Jan 20, 1992",14-5-0,"5' 10""",155,--,NaN,NaN
3,Kathryn Paprocki,"Apr 28, 1993",3-1-0,"5' 3""",115,--,NaN,NaN
4,Benoit Saint-Denis,"Dec 18, 1995",8-0-0 (1 NC),"5' 11""",170,--,NaN,GOD OF WAR
...,...,...,...,...,...,...,...,...
3689,Artenus Young,"Jul 16, 1980",10-12-0,8'5,205,--,NaN,NaN
3702,Joao Zaiden,"Mar 16, 1993",10-3-0,8'5,205,--,NaN,NaN
3721,Mike Zichelle,--,8-4-0,8'5,205,--,NaN,NaN
3726,Dave Zitanick,"Mar 05, 1980",5-7-0 (1 NC),8'5,170,--,NaN,NaN
3727,Alex Zuniga,--,6-3-0,8'5,145,--,NaN,NaN

In [8]:
fighter_info["height"].value_counts()

 6' 0"     416
 5' 10"    366
 5' 9"     364
 5' 11"    342
 6' 1"     290
 5' 8"     286
8'5        275
 5' 7"     264
 6' 2"     244
 5' 6"     215
 6' 3"     201
 5' 5"     118
 6' 4"      90
 5' 4"      84
 5' 3"      51
 6' 5"      38
 6' 6"      20
 5' 2"      20
 5' 1"      13
 6' 7"      12
 6' 8"       9
 5' 0"       4
 6' 11"      3
 6' 10"      3
 7' 2"       1
 7' 5"       1
 6' 9"       1
Name: height, dtype: int64

In [9]:
# Splitting feet and inches into seperate columns
fighter_info[["height_feet", "height_inches"]] = fighter_info.height.str.split("'", expand=True)
fighter_info

,name,DOB,ufc_record,height,weight,reach,stance,nickname,height_feet,height_inches
0,David Onama,--,8-0-0,"5' 10""",155,--,NaN,NaN,5,"10"""
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,"5' 11""",155,"72""",Orthodox,SLAVA CLAUS,5,"11"""
2,Erick Gonzalez,"Jan 20, 1992",14-5-0,"5' 10""",155,--,NaN,NaN,5,"10"""
3,Kathryn Paprocki,"Apr 28, 1993",3-1-0,"5' 3""",115,--,NaN,NaN,5,"3"""
4,Benoit Saint-Denis,"Dec 18, 1995",8-0-0 (1 NC),"5' 11""",170,--,NaN,GOD OF WAR,5,"11"""
...,...,...,...,...,...,...,...,...,...,...
3689,Artenus Young,"Jul 16, 1980",10-12-0,8'5,205,--,NaN,NaN,8,5
3702,Joao Zaiden,"Mar 16, 1993",10-3-0,8'5,205,--,NaN,NaN,8,5
3721,Mike Zichelle,--,8-4-0,8'5,205,--,NaN,NaN,8,5
3726,Dave Zitanick,"Mar 05, 1980",5-7-0 (1 NC),8'5,170,--,NaN,NaN,8,5
3727,Alex Zuniga,--,6-3-0,8'5,145,--,NaN,NaN,8,5

In [10]:
# Stripping " from inches and converting height to int
fighter_info["height_inches"] = fighter_info["height_inches"].str.strip('"')
fighter_info["height_feet"] = fighter_info["height_feet"].astype(int)
fighter_info["height_inches"] = fighter_info["height_inches"].astype(int)
fighter_info

,name,DOB,ufc_record,height,weight,reach,stance,nickname,height_feet,height_inches
0,David Onama,--,8-0-0,"5' 10""",155,--,NaN,NaN,5,10
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,"5' 11""",155,"72""",Orthodox,SLAVA CLAUS,5,11
2,Erick Gonzalez,"Jan 20, 1992",14-5-0,"5' 10""",155,--,NaN,NaN,5,10
3,Kathryn Paprocki,"Apr 28, 1993",3-1-0,"5' 3""",115,--,NaN,NaN,5,3
4,Benoit Saint-Denis,"Dec 18, 1995",8-0-0 (1 NC),"5' 11""",170,--,NaN,GOD OF WAR,5,11
...,...,...,...,...,...,...,...,...,...,...
3689,Artenus Young,"Jul 16, 1980",10-12-0,8'5,205,--,NaN,NaN,8,5
3702,Joao Zaiden,"Mar 16, 1993",10-3-0,8'5,205,--,NaN,NaN,8,5
3721,Mike Zichelle,--,8-4-0,8'5,205,--,NaN,NaN,8,5
3726,Dave Zitanick,"Mar 05, 1980",5-7-0 (1 NC),8'5,170,--,NaN,NaN,8,5
3727,Alex Zuniga,--,6-3-0,8'5,145,--,NaN,NaN,8,5

In [11]:
# Calculating total height from feet and inches columns
fighter_info["heightIN"] = (fighter_info["height_feet"] * 12) + fighter_info["height_inches"]
fighter_info

,name,DOB,ufc_record,height,weight,reach,stance,nickname,height_feet,height_inches,heightIN
0,David Onama,--,8-0-0,"5' 10""",155,--,NaN,NaN,5,10,70
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,"5' 11""",155,"72""",Orthodox,SLAVA CLAUS,5,11,71
2,Erick Gonzalez,"Jan 20, 1992",14-5-0,"5' 10""",155,--,NaN,NaN,5,10,70
3,Kathryn Paprocki,"Apr 28, 1993",3-1-0,"5' 3""",115,--,NaN,NaN,5,3,63
4,Benoit Saint-Denis,"Dec 18, 1995",8-0-0 (1 NC),"5' 11""",170,--,NaN,GOD OF WAR,5,11,71
...,...,...,...,...,...,...,...,...,...,...,...
3689,Artenus Young,"Jul 16, 1980",10-12-0,8'5,205,--,NaN,NaN,8,5,101
3702,Joao Zaiden,"Mar 16, 1993",10-3-0,8'5,205,--,NaN,NaN,8,5,101
3721,Mike Zichelle,--,8-4-0,8'5,205,--,NaN,NaN,8,5,101
3726,Dave Zitanick,"Mar 05, 1980",5-7-0 (1 NC),8'5,170,--,NaN,NaN,8,5,101
3727,Alex Zuniga,--,6-3-0,8'5,145,--,NaN,NaN,8,5,101

In [12]:
# dropping old height columns
fighter_info = fighter_info.drop(columns=["height", "height_feet", "height_inches"])
fighter_info

,name,DOB,ufc_record,weight,reach,stance,nickname,heightIN
0,David Onama,--,8-0-0,155,--,NaN,NaN,70
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,155,"72""",Orthodox,SLAVA CLAUS,71
2,Erick Gonzalez,"Jan 20, 1992",14-5-0,155,--,NaN,NaN,70
3,Kathryn Paprocki,"Apr 28, 1993",3-1-0,115,--,NaN,NaN,63
4,Benoit Saint-Denis,"Dec 18, 1995",8-0-0 (1 NC),170,--,NaN,GOD OF WAR,71
...,...,...,...,...,...,...,...,...
3689,Artenus Young,"Jul 16, 1980",10-12-0,205,--,NaN,NaN,101
3702,Joao Zaiden,"Mar 16, 1993",10-3-0,205,--,NaN,NaN,101
3721,Mike Zichelle,--,8-4-0,205,--,NaN,NaN,101
3726,Dave Zitanick,"Mar 05, 1980",5-7-0 (1 NC),170,--,NaN,NaN,101
3727,Alex Zuniga,--,6-3-0,145,--,NaN,NaN,101

In [13]:
# Stripping " from reach
fighter_info["reachIN"] = fighter_info["reach"]
fighter_info = fighter_info.drop(columns="reach")
fighter_info["reachIN"] = fighter_info["reachIN"].str.strip('"')
fighter_info

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
0,David Onama,--,8-0-0,155,NaN,NaN,70,--
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,155,Orthodox,SLAVA CLAUS,71,72
2,Erick Gonzalez,"Jan 20, 1992",14-5-0,155,NaN,NaN,70,--
3,Kathryn Paprocki,"Apr 28, 1993",3-1-0,115,NaN,NaN,63,--
4,Benoit Saint-Denis,"Dec 18, 1995",8-0-0 (1 NC),170,NaN,GOD OF WAR,71,--
...,...,...,...,...,...,...,...,...
3689,Artenus Young,"Jul 16, 1980",10-12-0,205,NaN,NaN,101,--
3702,Joao Zaiden,"Mar 16, 1993",10-3-0,205,NaN,NaN,101,--
3721,Mike Zichelle,--,8-4-0,205,NaN,NaN,101,--
3726,Dave Zitanick,"Mar 05, 1980",5-7-0 (1 NC),170,NaN,NaN,101,--
3727,Alex Zuniga,--,6-3-0,145,NaN,NaN,101,--

In [14]:
# splitting fighters into two seperate dataframes based on if they have reach listed...
no_reach = fighter_info[fighter_info["reachIN"].str.contains("-")]
no_reach

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
0,David Onama,--,8-0-0,155,NaN,NaN,70,--
2,Erick Gonzalez,"Jan 20, 1992",14-5-0,155,NaN,NaN,70,--
3,Kathryn Paprocki,"Apr 28, 1993",3-1-0,115,NaN,NaN,63,--
4,Benoit Saint-Denis,"Dec 18, 1995",8-0-0 (1 NC),170,NaN,GOD OF WAR,71,--
6,Mitch Raposo,"Oct 16, 1998",5-0-0,125,NaN,NaN,65,--
...,...,...,...,...,...,...,...,...
3689,Artenus Young,"Jul 16, 1980",10-12-0,205,NaN,NaN,101,--
3702,Joao Zaiden,"Mar 16, 1993",10-3-0,205,NaN,NaN,101,--
3721,Mike Zichelle,--,8-4-0,205,NaN,NaN,101,--
3726,Dave Zitanick,"Mar 05, 1980",5-7-0 (1 NC),170,NaN,NaN,101,--
3727,Alex Zuniga,--,6-3-0,145,NaN,NaN,101,--

In [15]:
# ... as a majorit of fighters have no reach listed, it was necessary to aproximate... 
reach = fighter_info[~fighter_info["reachIN"].str.contains("-")]
reach

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,155,Orthodox,SLAVA CLAUS,71,72
5,Joseph Holmes,"Jul 04, 1995",5-1-0,185,Orthodox,UGLYMAN,76,79
9,Brandon Jenkins,"Sep 30, 1991",15-8-0,155,Switch,THE HUMAN HIGHLIGHT REEL,72,71
12,Jose Alday,"Sep 14, 1991",14-6-1,135,Orthodox,POCHITO,67,68
14,Logan Urban,"Apr 22, 1994",5-2-0,170,Orthodox,HULK,72,72
...,...,...,...,...,...,...,...,...
3720,Fares Ziam,"Mar 21, 1997",12-3-0,155,Orthodox,SMILE KILLER,73,75
3724,Cat Zingano,"Jul 01, 1982",10-4-0,145,Southpaw,ALPHA,66,68
3729,Allan Zuniga,"Apr 04, 1992",13-1-0,155,Orthodox,TIGRE,67,70
3730,Virgil Zwicker,"Jun 26, 1982",15-6-1,205,NaN,REZDOG,74,74
988,Edward Faaloloto,"Jul 15, 1984",2-5-0,155,NaN,NaN,101,70

In [16]:
# ... by using height as a proxy for reach  
no_reach["reachIN"] = no_reach["heightIN"]
no_reach

C:\Users\audri\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
0,David Onama,--,8-0-0,155,NaN,NaN,70,70
2,Erick Gonzalez,"Jan 20, 1992",14-5-0,155,NaN,NaN,70,70
3,Kathryn Paprocki,"Apr 28, 1993",3-1-0,115,NaN,NaN,63,63
4,Benoit Saint-Denis,"Dec 18, 1995",8-0-0 (1 NC),170,NaN,GOD OF WAR,71,71
6,Mitch Raposo,"Oct 16, 1998",5-0-0,125,NaN,NaN,65,65
...,...,...,...,...,...,...,...,...
3689,Artenus Young,"Jul 16, 1980",10-12-0,205,NaN,NaN,101,101
3702,Joao Zaiden,"Mar 16, 1993",10-3-0,205,NaN,NaN,101,101
3721,Mike Zichelle,--,8-4-0,205,NaN,NaN,101,101
3726,Dave Zitanick,"Mar 05, 1980",5-7-0 (1 NC),170,NaN,NaN,101,101
3727,Alex Zuniga,--,6-3-0,145,NaN,NaN,101,101

In [17]:
# And then putting the dataframes back together with aproximated reach for fighters with none listed
reach_frames = [reach, no_reach]
fighter_df = pd.concat(reach_frames)
fighter_df

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,155,Orthodox,SLAVA CLAUS,71,72
5,Joseph Holmes,"Jul 04, 1995",5-1-0,185,Orthodox,UGLYMAN,76,79
9,Brandon Jenkins,"Sep 30, 1991",15-8-0,155,Switch,THE HUMAN HIGHLIGHT REEL,72,71
12,Jose Alday,"Sep 14, 1991",14-6-1,135,Orthodox,POCHITO,67,68
14,Logan Urban,"Apr 22, 1994",5-2-0,170,Orthodox,HULK,72,72
...,...,...,...,...,...,...,...,...
3689,Artenus Young,"Jul 16, 1980",10-12-0,205,NaN,NaN,101,101
3702,Joao Zaiden,"Mar 16, 1993",10-3-0,205,NaN,NaN,101,101
3721,Mike Zichelle,--,8-4-0,205,NaN,NaN,101,101
3726,Dave Zitanick,"Mar 05, 1980",5-7-0 (1 NC),170,NaN,NaN,101,101
3727,Alex Zuniga,--,6-3-0,145,NaN,NaN,101,101

In [18]:
fighter_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3731 entries, 1 to 3727
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        3731 non-null   object
 1   DOB         3731 non-null   object
 2   ufc_record  3731 non-null   object
 3   weight      3731 non-null   object
 4   stance      2826 non-null   object
 5   nickname    1981 non-null   object
 6   heightIN    3731 non-null   int32
 7   reachIN     3731 non-null   object
dtypes: int32(1), object(7)
memory usage: 247.8+ KB

In [19]:
# setting reach as int
fighter_df["reachIN"] = fighter_df["reachIN"].astype(int)
fighter_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3731 entries, 1 to 3727
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        3731 non-null   object
 1   DOB         3731 non-null   object
 2   ufc_record  3731 non-null   object
 3   weight      3731 non-null   object
 4   stance      2826 non-null   object
 5   nickname    1981 non-null   object
 6   heightIN    3731 non-null   int32
 7   reachIN     3731 non-null   int32
dtypes: int32(2), object(6)
memory usage: 233.2+ KB

In [20]:
fighter_df["stance"].value_counts()

 Orthodox       2191
 Southpaw        495
 Switch          130
 Open Stance       7
 Sideways          3
Name: stance, dtype: int64

In [21]:
fighter_df["stance"] = fighter_df["stance"].astype(str)
fighter_df["ufc_record"] = fighter_df["ufc_record"].astype(str)

In [22]:
fighter_df[fighter_df["stance"] == "nan"]

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
317,Khadzhi Bestaev,"Jul 16, 1988",10-4-0,185,nan,BEST,78,76
411,Antwain Britt,"May 09, 1978",11-6-0,205,nan,THE JUGGERNAUT,73,77
446,Julia Budd,"Jul 04, 1983",10-2-0,145,nan,NaN,67,67
634,Marloes Coenen,"Mar 31, 1981",23-8-0,145,nan,NaN,69,67
970,Juan Espino,"Oct 09, 1980",11-2-0,255,nan,EL GUAPO,75,80
...,...,...,...,...,...,...,...,...
3689,Artenus Young,"Jul 16, 1980",10-12-0,205,nan,NaN,101,101
3702,Joao Zaiden,"Mar 16, 1993",10-3-0,205,nan,NaN,101,101
3721,Mike Zichelle,--,8-4-0,205,nan,NaN,101,101
3726,Dave Zitanick,"Mar 05, 1980",5-7-0 (1 NC),170,nan,NaN,101,101
3727,Alex Zuniga,--,6-3-0,145,nan,NaN,101,101

In [23]:
# Seeing as the vast majority of fighters are orthadox, assume that nan values are orthadox...
fighter_df["stance"] = fighter_df["stance"].replace({"nan" : "Unknown"})
fighter_df["stance"] = fighter_df["stance"].replace({" Orthodox" : "Orthodox"})
fighter_df["stance"] = fighter_df["stance"].replace({" Southpaw" : "Southpaw"})
fighter_df["stance"] = fighter_df["stance"].replace({" Switch" : "Switch"})
fighter_df["stance"] = fighter_df["stance"].replace({" Open Stance" : "Switch"}) # With open as switch
fighter_df["stance"] = fighter_df["stance"].replace({" Sideways" : "Switch"}) # and same with sideways
fighter_df["stance"].value_counts()

Orthodox    2191
Unknown      905
Southpaw     495
Switch       140
Name: stance, dtype: int64

In [24]:
fighter_df["weight"].value_counts()

170    570
155    548
185    466
145    405
135    377
      ...
217      1
167      1
315      1
323      1
770      1
Name: weight, Length: 113, dtype: int64

In [25]:
fighter_df["weight"].isna().sum()

0

In [26]:
fighter_df

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,155,Orthodox,SLAVA CLAUS,71,72
5,Joseph Holmes,"Jul 04, 1995",5-1-0,185,Orthodox,UGLYMAN,76,79
9,Brandon Jenkins,"Sep 30, 1991",15-8-0,155,Switch,THE HUMAN HIGHLIGHT REEL,72,71
12,Jose Alday,"Sep 14, 1991",14-6-1,135,Orthodox,POCHITO,67,68
14,Logan Urban,"Apr 22, 1994",5-2-0,170,Orthodox,HULK,72,72
...,...,...,...,...,...,...,...,...
3689,Artenus Young,"Jul 16, 1980",10-12-0,205,Unknown,NaN,101,101
3702,Joao Zaiden,"Mar 16, 1993",10-3-0,205,Unknown,NaN,101,101
3721,Mike Zichelle,--,8-4-0,205,Unknown,NaN,101,101
3726,Dave Zitanick,"Mar 05, 1980",5-7-0 (1 NC),170,Unknown,NaN,101,101
3727,Alex Zuniga,--,6-3-0,145,Unknown,NaN,101,101

In [27]:
# fighters with no date of birth makes it impossible to calculate age at time of fight later on...
no_dob = fighter_df[fighter_df["DOB"].str.contains("-")]
no_dob

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
929,Per Eklund,--,14-5-1,155,Orthodox,NaN,70,72
1900,Jess Liaudin,--,20-11-0,170,Orthodox,THE JOKER,69,72
3556,Curt Warburton,--,13-6-0,155,Orthodox,NaN,72,73
0,David Onama,--,8-0-0,155,Unknown,NaN,70,70
15,Dylan Potter,--,10-5-0,205,Unknown,BIG POPPA,74,74
...,...,...,...,...,...,...,...,...
3645,Hunter Worsham,--,7-3-0,185,Unknown,THE FUTURE,101,101
3650,Chris Wright,--,8-5-1,--,Unknown,NaN,101,101
3683,John Yoo,--,0-1-0,135,Unknown,NaN,101,101
3721,Mike Zichelle,--,8-4-0,205,Unknown,NaN,101,101
3727,Alex Zuniga,--,6-3-0,145,Unknown,NaN,101,101

In [28]:
no_dob["DOB"] = "Jan 1, 1900"
no_dob

C:\Users\audri\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
929,Per Eklund,"Jan 1, 1900",14-5-1,155,Orthodox,NaN,70,72
1900,Jess Liaudin,"Jan 1, 1900",20-11-0,170,Orthodox,THE JOKER,69,72
3556,Curt Warburton,"Jan 1, 1900",13-6-0,155,Orthodox,NaN,72,73
0,David Onama,"Jan 1, 1900",8-0-0,155,Unknown,NaN,70,70
15,Dylan Potter,"Jan 1, 1900",10-5-0,205,Unknown,BIG POPPA,74,74
...,...,...,...,...,...,...,...,...
3645,Hunter Worsham,"Jan 1, 1900",7-3-0,185,Unknown,THE FUTURE,101,101
3650,Chris Wright,"Jan 1, 1900",8-5-1,--,Unknown,NaN,101,101
3683,John Yoo,"Jan 1, 1900",0-1-0,135,Unknown,NaN,101,101
3721,Mike Zichelle,"Jan 1, 1900",8-4-0,205,Unknown,NaN,101,101
3727,Alex Zuniga,"Jan 1, 1900",6-3-0,145,Unknown,NaN,101,101

In [29]:
# ... so fighters with no DOB are dropped
dob = fighter_df[~fighter_df["DOB"].str.contains("-")]

In [30]:
dob_frames = [dob, no_dob]
clean_fighter_df = pd.concat(dob_frames)
clean_fighter_df

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,155,Orthodox,SLAVA CLAUS,71,72
5,Joseph Holmes,"Jul 04, 1995",5-1-0,185,Orthodox,UGLYMAN,76,79
9,Brandon Jenkins,"Sep 30, 1991",15-8-0,155,Switch,THE HUMAN HIGHLIGHT REEL,72,71
12,Jose Alday,"Sep 14, 1991",14-6-1,135,Orthodox,POCHITO,67,68
14,Logan Urban,"Apr 22, 1994",5-2-0,170,Orthodox,HULK,72,72
...,...,...,...,...,...,...,...,...
3645,Hunter Worsham,"Jan 1, 1900",7-3-0,185,Unknown,THE FUTURE,101,101
3650,Chris Wright,"Jan 1, 1900",8-5-1,--,Unknown,NaN,101,101
3683,John Yoo,"Jan 1, 1900",0-1-0,135,Unknown,NaN,101,101
3721,Mike Zichelle,"Jan 1, 1900",8-4-0,205,Unknown,NaN,101,101
3727,Alex Zuniga,"Jan 1, 1900",6-3-0,145,Unknown,NaN,101,101

In [31]:
# Saving the clean dataframe
# clean_fighter_df.to_csv("../data/clean_fighter_info.csv")
clean_fighter_df

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,155,Orthodox,SLAVA CLAUS,71,72
5,Joseph Holmes,"Jul 04, 1995",5-1-0,185,Orthodox,UGLYMAN,76,79
9,Brandon Jenkins,"Sep 30, 1991",15-8-0,155,Switch,THE HUMAN HIGHLIGHT REEL,72,71
12,Jose Alday,"Sep 14, 1991",14-6-1,135,Orthodox,POCHITO,67,68
14,Logan Urban,"Apr 22, 1994",5-2-0,170,Orthodox,HULK,72,72
...,...,...,...,...,...,...,...,...
3645,Hunter Worsham,"Jan 1, 1900",7-3-0,185,Unknown,THE FUTURE,101,101
3650,Chris Wright,"Jan 1, 1900",8-5-1,--,Unknown,NaN,101,101
3683,John Yoo,"Jan 1, 1900",0-1-0,135,Unknown,NaN,101,101
3721,Mike Zichelle,"Jan 1, 1900",8-4-0,205,Unknown,NaN,101,101
3727,Alex Zuniga,"Jan 1, 1900",6-3-0,145,Unknown,NaN,101,101

In [32]:
clean_fighter_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3731 entries, 1 to 3727
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        3731 non-null   object
 1   DOB         3731 non-null   object
 2   ufc_record  3731 non-null   object
 3   weight      3731 non-null   object
 4   stance      3731 non-null   object
 5   nickname    1981 non-null   object
 6   heightIN    3731 non-null   int32
 7   reachIN     3731 non-null   int32
dtypes: int32(2), object(6)
memory usage: 233.2+ KB

In [33]:
clean_fighter_df["name"].value_counts()

Michael McDonald    2
Mike Davis          2
Bruno Silva         2
Joey Gomez          2
Tony Johnson        2
                   ..
Rodrigo de Lima     1
Donavon Frelow      1
Chris Duncan        1
Frank Trigg         1
Karl Roberson       1
Name: name, Length: 3726, dtype: int64

In [34]:
name_count_df = pd.DataFrame(clean_fighter_df["name"].value_counts())
name_count_df

                  name
Michael McDonald     2
Mike Davis           2
Bruno Silva          2
Joey Gomez           2
Tony Johnson         2
...                ...
Rodrigo de Lima      1
Donavon Frelow       1
Chris Duncan         1
Frank Trigg          1
Karl Roberson        1

[3726 rows x 1 columns]

In [35]:
multi_name = name_count_df[name_count_df["name"] > 1]
multi_name

                  name
Michael McDonald     2
Mike Davis           2
Bruno Silva          2
Joey Gomez           2
Tony Johnson         2

In [36]:
mike_davis = clean_fighter_df[clean_fighter_df["name"] == "Mike Davis"]
mike_davis

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
772,Mike Davis,"Oct 07, 1992",9-2-0,145,Orthodox,BEAST BOY,72,72
767,Mike Davis,"Jan 1, 1900",2-0-0,--,Unknown,NaN,101,101

In [37]:
mike_davis = mike_davis[:1]
mike_davis

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
772,Mike Davis,"Oct 07, 1992",9-2-0,145,Orthodox,BEAST BOY,72,72

In [38]:
clean_fighter_df = clean_fighter_df[clean_fighter_df["name"] != "Mike Davis"]
clean_fighter_df

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,155,Orthodox,SLAVA CLAUS,71,72
5,Joseph Holmes,"Jul 04, 1995",5-1-0,185,Orthodox,UGLYMAN,76,79
9,Brandon Jenkins,"Sep 30, 1991",15-8-0,155,Switch,THE HUMAN HIGHLIGHT REEL,72,71
12,Jose Alday,"Sep 14, 1991",14-6-1,135,Orthodox,POCHITO,67,68
14,Logan Urban,"Apr 22, 1994",5-2-0,170,Orthodox,HULK,72,72
...,...,...,...,...,...,...,...,...
3645,Hunter Worsham,"Jan 1, 1900",7-3-0,185,Unknown,THE FUTURE,101,101
3650,Chris Wright,"Jan 1, 1900",8-5-1,--,Unknown,NaN,101,101
3683,John Yoo,"Jan 1, 1900",0-1-0,135,Unknown,NaN,101,101
3721,Mike Zichelle,"Jan 1, 1900",8-4-0,205,Unknown,NaN,101,101
3727,Alex Zuniga,"Jan 1, 1900",6-3-0,145,Unknown,NaN,101,101

In [39]:
mike_frames = [mike_davis, clean_fighter_df]
clean_fighter_df = pd.concat(mike_frames)
clean_fighter_df

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
772,Mike Davis,"Oct 07, 1992",9-2-0,145,Orthodox,BEAST BOY,72,72
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,155,Orthodox,SLAVA CLAUS,71,72
5,Joseph Holmes,"Jul 04, 1995",5-1-0,185,Orthodox,UGLYMAN,76,79
9,Brandon Jenkins,"Sep 30, 1991",15-8-0,155,Switch,THE HUMAN HIGHLIGHT REEL,72,71
12,Jose Alday,"Sep 14, 1991",14-6-1,135,Orthodox,POCHITO,67,68
...,...,...,...,...,...,...,...,...
3645,Hunter Worsham,"Jan 1, 1900",7-3-0,185,Unknown,THE FUTURE,101,101
3650,Chris Wright,"Jan 1, 1900",8-5-1,--,Unknown,NaN,101,101
3683,John Yoo,"Jan 1, 1900",0-1-0,135,Unknown,NaN,101,101
3721,Mike Zichelle,"Jan 1, 1900",8-4-0,205,Unknown,NaN,101,101
3727,Alex Zuniga,"Jan 1, 1900",6-3-0,145,Unknown,NaN,101,101

In [40]:
tony_johnson = clean_fighter_df[clean_fighter_df["name"] == "Tony Johnson"]
tony_johnson

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
1599,Tony Johnson,"May 02, 1983",7-2-0,205,Orthodox,NaN,74,76
1607,Tony Johnson,"Jan 1, 1900",11-3-0,265,Unknown,NaN,73,73

In [41]:
clean_fighter_df = clean_fighter_df[clean_fighter_df["name"] != "Tony Johnson"]
clean_fighter_df

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
772,Mike Davis,"Oct 07, 1992",9-2-0,145,Orthodox,BEAST BOY,72,72
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,155,Orthodox,SLAVA CLAUS,71,72
5,Joseph Holmes,"Jul 04, 1995",5-1-0,185,Orthodox,UGLYMAN,76,79
9,Brandon Jenkins,"Sep 30, 1991",15-8-0,155,Switch,THE HUMAN HIGHLIGHT REEL,72,71
12,Jose Alday,"Sep 14, 1991",14-6-1,135,Orthodox,POCHITO,67,68
...,...,...,...,...,...,...,...,...
3645,Hunter Worsham,"Jan 1, 1900",7-3-0,185,Unknown,THE FUTURE,101,101
3650,Chris Wright,"Jan 1, 1900",8-5-1,--,Unknown,NaN,101,101
3683,John Yoo,"Jan 1, 1900",0-1-0,135,Unknown,NaN,101,101
3721,Mike Zichelle,"Jan 1, 1900",8-4-0,205,Unknown,NaN,101,101
3727,Alex Zuniga,"Jan 1, 1900",6-3-0,145,Unknown,NaN,101,101

In [42]:
bruno_silva = clean_fighter_df[clean_fighter_df["name"] == "Bruno Silva"]
bruno_silva

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
3112,Bruno Silva,"Mar 16, 1990",12-5-2 (1 NC),125,Orthodox,BULLDOG,64,65
3113,Bruno Silva,"Jul 13, 1989",20-6-0,185,Orthodox,BLINDADO,72,74

In [43]:
bruno_silva.loc[bruno_silva["weight"] == "185", "name"] = "Bruno Silva 1"
bruno_silva

C:\Users\audri\anaconda3\envs\PythonAdv\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
3112,Bruno Silva,"Mar 16, 1990",12-5-2 (1 NC),125,Orthodox,BULLDOG,64,65
3113,Bruno Silva 1,"Jul 13, 1989",20-6-0,185,Orthodox,BLINDADO,72,74

In [44]:
clean_fighter_df = clean_fighter_df[clean_fighter_df["name"] != "Bruno Silva"]
clean_fighter_df

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
772,Mike Davis,"Oct 07, 1992",9-2-0,145,Orthodox,BEAST BOY,72,72
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,155,Orthodox,SLAVA CLAUS,71,72
5,Joseph Holmes,"Jul 04, 1995",5-1-0,185,Orthodox,UGLYMAN,76,79
9,Brandon Jenkins,"Sep 30, 1991",15-8-0,155,Switch,THE HUMAN HIGHLIGHT REEL,72,71
12,Jose Alday,"Sep 14, 1991",14-6-1,135,Orthodox,POCHITO,67,68
...,...,...,...,...,...,...,...,...
3645,Hunter Worsham,"Jan 1, 1900",7-3-0,185,Unknown,THE FUTURE,101,101
3650,Chris Wright,"Jan 1, 1900",8-5-1,--,Unknown,NaN,101,101
3683,John Yoo,"Jan 1, 1900",0-1-0,135,Unknown,NaN,101,101
3721,Mike Zichelle,"Jan 1, 1900",8-4-0,205,Unknown,NaN,101,101
3727,Alex Zuniga,"Jan 1, 1900",6-3-0,145,Unknown,NaN,101,101

In [45]:
bruno_frames = [bruno_silva, clean_fighter_df]
clean_fighter_df = pd.concat(bruno_frames)
clean_fighter_df

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
3112,Bruno Silva,"Mar 16, 1990",12-5-2 (1 NC),125,Orthodox,BULLDOG,64,65
3113,Bruno Silva 1,"Jul 13, 1989",20-6-0,185,Orthodox,BLINDADO,72,74
772,Mike Davis,"Oct 07, 1992",9-2-0,145,Orthodox,BEAST BOY,72,72
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,155,Orthodox,SLAVA CLAUS,71,72
5,Joseph Holmes,"Jul 04, 1995",5-1-0,185,Orthodox,UGLYMAN,76,79
...,...,...,...,...,...,...,...,...
3645,Hunter Worsham,"Jan 1, 1900",7-3-0,185,Unknown,THE FUTURE,101,101
3650,Chris Wright,"Jan 1, 1900",8-5-1,--,Unknown,NaN,101,101
3683,John Yoo,"Jan 1, 1900",0-1-0,135,Unknown,NaN,101,101
3721,Mike Zichelle,"Jan 1, 1900",8-4-0,205,Unknown,NaN,101,101
3727,Alex Zuniga,"Jan 1, 1900",6-3-0,145,Unknown,NaN,101,101

In [46]:
mike_mcd = clean_fighter_df[clean_fighter_df["name"] == "Michael McDonald"]
mike_mcd

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
2117,Michael McDonald,"Jan 15, 1991",17-4-0,135,Orthodox,MAYDAY,69,70
2115,Michael McDonald,"Feb 06, 1965",1-1-0,205,Orthodox,THE BLACK SNIPER,71,71

In [47]:
mike_mcd = mike_mcd[:1]
mike_mcd

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
2117,Michael McDonald,"Jan 15, 1991",17-4-0,135,Orthodox,MAYDAY,69,70

In [48]:
clean_fighter_df = clean_fighter_df[clean_fighter_df["name"] != "Michael McDonald"]
clean_fighter_df

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
3112,Bruno Silva,"Mar 16, 1990",12-5-2 (1 NC),125,Orthodox,BULLDOG,64,65
3113,Bruno Silva 1,"Jul 13, 1989",20-6-0,185,Orthodox,BLINDADO,72,74
772,Mike Davis,"Oct 07, 1992",9-2-0,145,Orthodox,BEAST BOY,72,72
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,155,Orthodox,SLAVA CLAUS,71,72
5,Joseph Holmes,"Jul 04, 1995",5-1-0,185,Orthodox,UGLYMAN,76,79
...,...,...,...,...,...,...,...,...
3645,Hunter Worsham,"Jan 1, 1900",7-3-0,185,Unknown,THE FUTURE,101,101
3650,Chris Wright,"Jan 1, 1900",8-5-1,--,Unknown,NaN,101,101
3683,John Yoo,"Jan 1, 1900",0-1-0,135,Unknown,NaN,101,101
3721,Mike Zichelle,"Jan 1, 1900",8-4-0,205,Unknown,NaN,101,101
3727,Alex Zuniga,"Jan 1, 1900",6-3-0,145,Unknown,NaN,101,101

In [49]:
mcd_frames = [mike_mcd, clean_fighter_df]
clean_fighter_df = pd.concat(mcd_frames)
clean_fighter_df

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
2117,Michael McDonald,"Jan 15, 1991",17-4-0,135,Orthodox,MAYDAY,69,70
3112,Bruno Silva,"Mar 16, 1990",12-5-2 (1 NC),125,Orthodox,BULLDOG,64,65
3113,Bruno Silva 1,"Jul 13, 1989",20-6-0,185,Orthodox,BLINDADO,72,74
772,Mike Davis,"Oct 07, 1992",9-2-0,145,Orthodox,BEAST BOY,72,72
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,155,Orthodox,SLAVA CLAUS,71,72
...,...,...,...,...,...,...,...,...
3645,Hunter Worsham,"Jan 1, 1900",7-3-0,185,Unknown,THE FUTURE,101,101
3650,Chris Wright,"Jan 1, 1900",8-5-1,--,Unknown,NaN,101,101
3683,John Yoo,"Jan 1, 1900",0-1-0,135,Unknown,NaN,101,101
3721,Mike Zichelle,"Jan 1, 1900",8-4-0,205,Unknown,NaN,101,101
3727,Alex Zuniga,"Jan 1, 1900",6-3-0,145,Unknown,NaN,101,101

In [50]:
joey_g = clean_fighter_df[clean_fighter_df["name"] == "Joey Gomez"]
joey_g

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
1204,Joey Gomez,"Jul 21, 1986",6-2-0,135,Orthodox,KO KING,70,73
1206,Joey Gomez,"Aug 29, 1989",7-1-0,155,Orthodox,NaN,70,71

In [51]:
joey_g = joey_g[:1]
joey_g

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
1204,Joey Gomez,"Jul 21, 1986",6-2-0,135,Orthodox,KO KING,70,73

In [52]:
clean_fighter_df = clean_fighter_df[clean_fighter_df["name"] != "Joey Gomez"]
clean_fighter_df

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
2117,Michael McDonald,"Jan 15, 1991",17-4-0,135,Orthodox,MAYDAY,69,70
3112,Bruno Silva,"Mar 16, 1990",12-5-2 (1 NC),125,Orthodox,BULLDOG,64,65
3113,Bruno Silva 1,"Jul 13, 1989",20-6-0,185,Orthodox,BLINDADO,72,74
772,Mike Davis,"Oct 07, 1992",9-2-0,145,Orthodox,BEAST BOY,72,72
1,Viacheslav Borshchev,"Jan 08, 1992",4-1-0,155,Orthodox,SLAVA CLAUS,71,72
...,...,...,...,...,...,...,...,...
3645,Hunter Worsham,"Jan 1, 1900",7-3-0,185,Unknown,THE FUTURE,101,101
3650,Chris Wright,"Jan 1, 1900",8-5-1,--,Unknown,NaN,101,101
3683,John Yoo,"Jan 1, 1900",0-1-0,135,Unknown,NaN,101,101
3721,Mike Zichelle,"Jan 1, 1900",8-4-0,205,Unknown,NaN,101,101
3727,Alex Zuniga,"Jan 1, 1900",6-3-0,145,Unknown,NaN,101,101

In [53]:
joey_frames = [joey_g, clean_fighter_df]
clean_fighter_df = pd.concat(joey_frames)
clean_fighter_df

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
1204,Joey Gomez,"Jul 21, 1986",6-2-0,135,Orthodox,KO KING,70,73
2117,Michael McDonald,"Jan 15, 1991",17-4-0,135,Orthodox,MAYDAY,69,70
3112,Bruno Silva,"Mar 16, 1990",12-5-2 (1 NC),125,Orthodox,BULLDOG,64,65
3113,Bruno Silva 1,"Jul 13, 1989",20-6-0,185,Orthodox,BLINDADO,72,74
772,Mike Davis,"Oct 07, 1992",9-2-0,145,Orthodox,BEAST BOY,72,72
...,...,...,...,...,...,...,...,...
3645,Hunter Worsham,"Jan 1, 1900",7-3-0,185,Unknown,THE FUTURE,101,101
3650,Chris Wright,"Jan 1, 1900",8-5-1,--,Unknown,NaN,101,101
3683,John Yoo,"Jan 1, 1900",0-1-0,135,Unknown,NaN,101,101
3721,Mike Zichelle,"Jan 1, 1900",8-4-0,205,Unknown,NaN,101,101
3727,Alex Zuniga,"Jan 1, 1900",6-3-0,145,Unknown,NaN,101,101

In [54]:
# Saving the clean dataframe
clean_fighter_df = clean_fighter_df.reset_index()
clean_fighter_df = clean_fighter_df.drop(columns="index")
clean_fighter_df.to_csv("../data/clean_fighter_info.csv")
clean_fighter_df

,name,DOB,ufc_record,weight,stance,nickname,heightIN,reachIN
0,Joey Gomez,"Jul 21, 1986",6-2-0,135,Orthodox,KO KING,70,73
1,Michael McDonald,"Jan 15, 1991",17-4-0,135,Orthodox,MAYDAY,69,70
2,Bruno Silva,"Mar 16, 1990",12-5-2 (1 NC),125,Orthodox,BULLDOG,64,65
3,Bruno Silva 1,"Jul 13, 1989",20-6-0,185,Orthodox,BLINDADO,72,74
4,Mike Davis,"Oct 07, 1992",9-2-0,145,Orthodox,BEAST BOY,72,72
...,...,...,...,...,...,...,...,...
3721,Hunter Worsham,"Jan 1, 1900",7-3-0,185,Unknown,THE FUTURE,101,101
3722,Chris Wright,"Jan 1, 1900",8-5-1,--,Unknown,NaN,101,101
3723,John Yoo,"Jan 1, 1900",0-1-0,135,Unknown,NaN,101,101
3724,Mike Zichelle,"Jan 1, 1900",8-4-0,205,Unknown,NaN,101,101
3725,Alex Zuniga,"Jan 1, 1900",6-3-0,145,Unknown,NaN,101,101